USE [master]
GO
/****** Object:  Database [GameStoreDB]    Script Date: 28/12/2025 7:28:40 CH ******/
CREATE DATABASE [GameStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GameStoreDB', FILENAME = N'D:\SQL2\MSSQL16.MSSQLSERVER01\MSSQL\DATA\GameStoreDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GameStoreDB_log', FILENAME = N'D:\SQL2\MSSQL16.MSSQLSERVER01\MSSQL\DATA\GameStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GameStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GameStoreDB]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 28/12/2025 7:28:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ParentCategoryID] [int] NULL,
	[IconURL] [nvarchar](500) NULL,
	[DisplayOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEVELOPERS]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEVELOPERS](
	[DeveloperID] [int] IDENTITY(1,1) NOT NULL,
	[DeveloperName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[LogoURL] [nvarchar](500) NULL,
	[WebsiteURL] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeveloperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GAMECATEGORIES]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAMECATEGORIES](
	[GameID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GameID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GAMEIMAGES]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAMEIMAGES](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[GameID] [int] NOT NULL,
	[ImageURL] [nvarchar](500) NOT NULL,
	[ImageType] [nvarchar](50) NOT NULL,
	[ImageOrder] [int] NULL,
	[IsPrimary] [bit] NULL,
	[Caption] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GAMES]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAMES](
	[GameID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DeveloperID] [int] NULL,
	[PublisherID] [int] NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[FinalPrice] [decimal](18, 2) NULL,
	[ReleaseDate] [date] NULL,
	[EarlyAccessReleaseDate] [date] NULL,
	[AgeRating] [nvarchar](10) NULL,
	[SystemRequirements] [nvarchar](max) NULL,
	[SupportedLanguages] [nvarchar](500) NULL,
	[WebsiteURL] [nvarchar](500) NULL,
	[MainCoverImageURL] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERDETAILS]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERDETAILS](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[GameID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[FinalPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[FinalAmount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUBLISHERS]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLISHERS](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[PublisherName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[LogoURL] [nvarchar](500) NULL,
	[WebsiteURL] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERLIBRARIES]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERLIBRARIES](
	[LibraryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[GameID] [int] NOT NULL,
	[PurchaseDate] [datetime] NULL,
	[PurchasePrice] [decimal](18, 2) NOT NULL,
	[OrderID] [int] NULL,
	[IsFavorite] [bit] NULL,
	[LastPlayed] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LibraryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[AvatarURL] [nvarchar](500) NULL,
	[WalletBalance] [decimal](18, 2) NULL,
	[CountryCode] [char](2) NULL,
	[DateOfBirth] [date] NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORIES] ON 

INSERT [dbo].[CATEGORIES] ([CategoryID], [CategoryName], [Description], [ParentCategoryID], [IconURL], [DisplayOrder]) VALUES (1, N'Action', N'Game hành d?ng, b?n súng', NULL, N'https://icons.com/action.png', 1)
INSERT [dbo].[CATEGORIES] ([CategoryID], [CategoryName], [Description], [ParentCategoryID], [IconURL], [DisplayOrder]) VALUES (2, N'RPG', N'Game nh?p vai RPG', NULL, N'https://icons.com/rpg.png', 2)
INSERT [dbo].[CATEGORIES] ([CategoryID], [CategoryName], [Description], [ParentCategoryID], [IconURL], [DisplayOrder]) VALUES (3, N'Adventure', N'Game phiêu luu', NULL, N'https://icons.com/adventure.png', 3)
SET IDENTITY_INSERT [dbo].[CATEGORIES] OFF
GO
SET IDENTITY_INSERT [dbo].[DEVELOPERS] ON 

INSERT [dbo].[DEVELOPERS] ([DeveloperID], [DeveloperName], [Description], [LogoURL], [WebsiteURL]) VALUES (1, N'ConcernedApe', N'ConcernedApe is the moniker of Eric Barone, a solo game developer based in Seattle, WA.', N'https://avatars.fastly.steamstatic.com/eaff8e24ad01c6d6a80064c8a5a46b81210492e3_full.jpg', N'https://x.com/ConcernedApe')
INSERT [dbo].[DEVELOPERS] ([DeveloperID], [DeveloperName], [Description], [LogoURL], [WebsiteURL]) VALUES (2, N'Hazelight Studios', N'Hazelight Studios is a Swedish video game development company, founded by director Josef Fares in 2014.', N'https://avatars.fastly.steamstatic.com/77daf64728df565195d80ee2272568027cbdb2da_full.jpg', N'https://www.hazelight.se/')
INSERT [dbo].[DEVELOPERS] ([DeveloperID], [DeveloperName], [Description], [LogoURL], [WebsiteURL]) VALUES (3, N'Iron Galaxy Studios', N'We are one of the world''s largest independent video game developers. We partner with the best studios in the games industry and build new worlds born of our own ideas.', N'https://avatars.fastly.steamstatic.com/f6f13f827ac57c7eff9ec66205db96a814abaa9c_full.jpg', N'https://www.irongalaxystudios.com/')
SET IDENTITY_INSERT [dbo].[DEVELOPERS] OFF
GO
INSERT [dbo].[GAMECATEGORIES] ([GameID], [CategoryID]) VALUES (1, 5)
INSERT [dbo].[GAMECATEGORIES] ([GameID], [CategoryID]) VALUES (1, 6)
INSERT [dbo].[GAMECATEGORIES] ([GameID], [CategoryID]) VALUES (1, 7)
GO
SET IDENTITY_INSERT [dbo].[GAMEIMAGES] ON 

INSERT [dbo].[GAMEIMAGES] ([ImageID], [GameID], [ImageURL], [ImageType], [ImageOrder], [IsPrimary], [Caption]) VALUES (1, 1, N'https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/413150/ss_b887651a93b0525739049eb4194f633de2df75be.1920x1080.jpg?t=1754692865', N'screenshot', 1, 1, N'Gameplay trên farm')
INSERT [dbo].[GAMEIMAGES] ([ImageID], [GameID], [ImageURL], [ImageType], [ImageOrder], [IsPrimary], [Caption]) VALUES (2, 1, N'https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/413150/ss_4fa0866709ede3753fdf2745349b528d5e8c4054.1920x1080.jpg?t=1754692865', N'screenshot', 2, 0, N'Khám phá th? tr?n')
INSERT [dbo].[GAMEIMAGES] ([ImageID], [GameID], [ImageURL], [ImageType], [ImageOrder], [IsPrimary], [Caption]) VALUES (3, 1, N'https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/413150/ss_9ac899fe2cda15d48b0549bba77ef8c4a090a71c.1920x1080.jpg?t=1754692865', N'screenshot', 3, 0, N'H?m m? và chi?n d?u')
SET IDENTITY_INSERT [dbo].[GAMEIMAGES] OFF
GO
SET IDENTITY_INSERT [dbo].[GAMES] ON 

SET IDENTITY_INSERT [dbo].[GAMES] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDERDETAILS] ON 

INSERT [dbo].[ORDERDETAILS] ([OrderDetailID], [OrderID], [GameID], [Quantity], [UnitPrice], [FinalPrice]) VALUES (1, 1, 22, 1, CAST(1299000.00 AS Decimal(18, 2)), CAST(1299000.00 AS Decimal(18, 2)))
INSERT [dbo].[ORDERDETAILS] ([OrderDetailID], [OrderID], [GameID], [Quantity], [UnitPrice], [FinalPrice]) VALUES (2, 1, 31, 1, CAST(990000.00 AS Decimal(18, 2)), CAST(990000.00 AS Decimal(18, 2)))
INSERT [dbo].[ORDERDETAILS] ([OrderDetailID], [OrderID], [GameID], [Quantity], [UnitPrice], [FinalPrice]) VALUES (3, 1, 31, 1, CAST(990000.00 AS Decimal(18, 2)), CAST(990000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ORDERDETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDERS] ON 

INSERT [dbo].[ORDERS] ([OrderID], [OrderNumber], [UserID], [OrderDate], [TotalAmount], [FinalAmount], [PaymentMethod]) VALUES (7, N'ORD20251228120240', 1, CAST(N'2025-12-28T12:02:41.083' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'CreditCard')
INSERT [dbo].[ORDERS] ([OrderID], [OrderNumber], [UserID], [OrderDate], [TotalAmount], [FinalAmount], [PaymentMethod]) VALUES (8, N'ORD20251228121733', 1, CAST(N'2025-12-28T12:17:33.573' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'CreditCard')
INSERT [dbo].[ORDERS] ([OrderID], [OrderNumber], [UserID], [OrderDate], [TotalAmount], [FinalAmount], [PaymentMethod]) VALUES (9, N'ORD20251228121737', 1, CAST(N'2025-12-28T12:17:37.537' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'CreditCard')
SET IDENTITY_INSERT [dbo].[ORDERS] OFF
GO
SET IDENTITY_INSERT [dbo].[PUBLISHERS] ON 

INSERT [dbo].[PUBLISHERS] ([PublisherID], [PublisherName], [Description], [LogoURL], [WebsiteURL]) VALUES (1, N'ConcernedApe', N'ConcernedApe is the moniker of Eric Barone, a solo game developer based in Seattle, WA.', N'https://avatars.fastly.steamstatic.com/eaff8e24ad01c6d6a80064c8a5a46b81210492e3_full.jpg', N'https://x.com/ConcernedApe')
INSERT [dbo].[PUBLISHERS] ([PublisherID], [PublisherName], [Description], [LogoURL], [WebsiteURL]) VALUES (2, N'Electronic Arts', N'We exist to inspire the world through Play. Electronic Arts is a leading publisher of games on Console, PC and Mobile.', N'https://avatars.fastly.steamstatic.com/618cc2a46fad78ed1259df505c2de5bb4d806532_full.jpg', N'https://www.ea.com/en-gb')
INSERT [dbo].[PUBLISHERS] ([PublisherID], [PublisherName], [Description], [LogoURL], [WebsiteURL]) VALUES (3, N'PlayStation Studio™', N'PlayStation Studios is home to the development of Sony Interactive Entertainment''s own outstanding and immersive games, including some of the most popular and critically acclaimed titles in entertainment history.', N'https://avatars.fastly.steamstatic.com/1a1321a8c79abf3ca25274be935b2d241f82848b_full.jpg', N'https://www.playstation.com/en-us/')
SET IDENTITY_INSERT [dbo].[PUBLISHERS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERLIBRARIES] ON 

INSERT [dbo].[USERLIBRARIES] ([LibraryID], [UserID], [GameID], [PurchaseDate], [PurchasePrice], [OrderID], [IsFavorite], [LastPlayed]) VALUES (1, 1, 22, CAST(N'2025-12-28T13:05:48.503' AS DateTime), CAST(1299000.00 AS Decimal(18, 2)), 1, 0, NULL)
INSERT [dbo].[USERLIBRARIES] ([LibraryID], [UserID], [GameID], [PurchaseDate], [PurchasePrice], [OrderID], [IsFavorite], [LastPlayed]) VALUES (2, 1, 28, CAST(N'2025-12-28T13:06:15.430' AS DateTime), CAST(990000.00 AS Decimal(18, 2)), 1, 0, CAST(N'2025-12-28T16:13:02.587' AS DateTime))
INSERT [dbo].[USERLIBRARIES] ([LibraryID], [UserID], [GameID], [PurchaseDate], [PurchasePrice], [OrderID], [IsFavorite], [LastPlayed]) VALUES (3, 1, 31, CAST(N'2025-12-28T13:06:15.437' AS DateTime), CAST(990000.00 AS Decimal(18, 2)), 1, 0, CAST(N'2025-12-28T16:20:28.533' AS DateTime))
SET IDENTITY_INSERT [dbo].[USERLIBRARIES] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([UserID], [Username], [Email], [PasswordHash], [AvatarURL], [WalletBalance], [CountryCode], [DateOfBirth], [CreatedDate], [IsActive]) VALUES (1, N'ellen', N'ellen@gmail.com', N'1234', NULL, CAST(0.00 AS Decimal(18, 2)), NULL, NULL, CAST(N'2025-12-21T14:16:55.300' AS DateTime), 1)
INSERT [dbo].[USERS] ([UserID], [Username], [Email], [PasswordHash], [AvatarURL], [WalletBalance], [CountryCode], [DateOfBirth], [CreatedDate], [IsActive]) VALUES (2, N'Vienn', N'Vienn@example.com', N'1234', NULL, CAST(0.00 AS Decimal(18, 2)), NULL, NULL, CAST(N'2025-12-28T15:32:46.610' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Categories_CategoryName]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Categories_CategoryName] ON [dbo].[CATEGORIES]
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categories_DisplayOrder]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Categories_DisplayOrder] ON [dbo].[CATEGORIES]
(
	[DisplayOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categories_ParentCategoryID]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Categories_ParentCategoryID] ON [dbo].[CATEGORIES]
(
	[ParentCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameCategories_CategoryID]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_GameCategories_CategoryID] ON [dbo].[GAMECATEGORIES]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameCategories_GameID_CategoryID]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_GameCategories_GameID_CategoryID] ON [dbo].[GAMECATEGORIES]
(
	[GameID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameImages_GameID]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_GameImages_GameID] ON [dbo].[GAMEIMAGES]
(
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GameImages_ImageType]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_GameImages_ImageType] ON [dbo].[GAMEIMAGES]
(
	[ImageType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameImages_IsPrimary]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_GameImages_IsPrimary] ON [dbo].[GAMEIMAGES]
(
	[IsPrimary] ASC
)
WHERE ([IsPrimary]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GameImages_OnePrimaryPerGame]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_GameImages_OnePrimaryPerGame] ON [dbo].[GAMEIMAGES]
(
	[GameID] ASC
)
WHERE ([IsPrimary]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Games_AgeRating]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Games_AgeRating] ON [dbo].[GAMES]
(
	[AgeRating] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Games_Covering_List]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Games_Covering_List] ON [dbo].[GAMES]
(
	[GameID] ASC,
	[Title] ASC,
	[FinalPrice] ASC,
	[MainCoverImageURL] ASC,
	[ReleaseDate] ASC,
	[AgeRating] ASC
)
INCLUDE([DeveloperID],[PublisherID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Games_DeveloperID]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Games_DeveloperID] ON [dbo].[GAMES]
(
	[DeveloperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Games_FinalPrice]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Games_FinalPrice] ON [dbo].[GAMES]
(
	[FinalPrice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Games_Paid]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Games_Paid] ON [dbo].[GAMES]
(
	[GameID] ASC,
	[Title] ASC,
	[FinalPrice] ASC
)
WHERE ([FinalPrice]>(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Games_Price_Release]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Games_Price_Release] ON [dbo].[GAMES]
(
	[FinalPrice] ASC,
	[ReleaseDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Games_PublisherID]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Games_PublisherID] ON [dbo].[GAMES]
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Games_ReleaseDate]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Games_ReleaseDate] ON [dbo].[GAMES]
(
	[ReleaseDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Games_Title]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Games_Title] ON [dbo].[GAMES]
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_GameID]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_GameID] ON [dbo].[ORDERDETAILS]
(
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_OrderID]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderID] ON [dbo].[ORDERDETAILS]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_OrderID_GameID]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderID_GameID] ON [dbo].[ORDERDETAILS]
(
	[OrderID] ASC,
	[GameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ORDERS__CAC5E743CB7007C0]    Script Date: 28/12/2025 7:28:41 CH ******/
ALTER TABLE [dbo].[ORDERS] ADD UNIQUE NONCLUSTERED 
(
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_Covering_Stats]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Covering_Stats] ON [dbo].[ORDERS]
(
	[OrderID] ASC,
	[UserID] ASC,
	[OrderDate] ASC,
	[FinalAmount] ASC
)
INCLUDE([PaymentMethod],[TotalAmount]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_NonZero]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Orders_NonZero] ON [dbo].[ORDERS]
(
	[OrderID] ASC,
	[UserID] ASC,
	[FinalAmount] ASC
)
WHERE ([FinalAmount]>(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_OrderDate]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Orders_OrderDate] ON [dbo].[ORDERS]
(
	[OrderDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_PaymentMethod]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Orders_PaymentMethod] ON [dbo].[ORDERS]
(
	[PaymentMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_User_Date]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Orders_User_Date] ON [dbo].[ORDERS]
(
	[UserID] ASC,
	[OrderDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_UserID]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserID] ON [dbo].[ORDERS]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__536C85E429098D9E]    Script Date: 28/12/2025 7:28:41 CH ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__A9D10534AD7950C2]    Script Date: 28/12/2025 7:28:41 CH ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Active]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Users_Active] ON [dbo].[USERS]
(
	[UserID] ASC,
	[Username] ASC,
	[Email] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_CountryCode]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Users_CountryCode] ON [dbo].[USERS]
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_CreatedDate]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Users_CreatedDate] ON [dbo].[USERS]
(
	[CreatedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[USERS]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 28/12/2025 7:28:41 CH ******/
CREATE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[USERS]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CATEGORIES] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[GAMEIMAGES] ADD  DEFAULT ((0)) FOR [ImageOrder]
GO
ALTER TABLE [dbo].[GAMEIMAGES] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[GAMES] ADD  DEFAULT ((0.00)) FOR [BasePrice]
GO
ALTER TABLE [dbo].[ORDERDETAILS] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ORDERDETAILS] ADD  DEFAULT ((0.00)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[ORDERDETAILS] ADD  DEFAULT ((0.00)) FOR [FinalPrice]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ((0.00)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ((0.00)) FOR [FinalAmount]
GO
ALTER TABLE [dbo].[USERLIBRARIES] ADD  DEFAULT (getdate()) FOR [PurchaseDate]
GO
ALTER TABLE [dbo].[USERLIBRARIES] ADD  DEFAULT ((0.00)) FOR [PurchasePrice]
GO
ALTER TABLE [dbo].[USERLIBRARIES] ADD  DEFAULT ((0)) FOR [IsFavorite]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((0.00)) FOR [WalletBalance]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddCategoryToGame]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- SP8: Thêm thể loại cho game
-- ============================================
CREATE   PROCEDURE [dbo].[sp_AddCategoryToGame]
    @GameID INT,
    @CategoryID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    IF NOT EXISTS (SELECT 1 FROM GAMECATEGORIES WHERE GameID = @GameID AND CategoryID = @CategoryID)
    BEGIN
        INSERT INTO GAMECATEGORIES (GameID, CategoryID)
        VALUES (@GameID, @CategoryID);
        
        SELECT 'Category added successfully' AS Result;
    END
    ELSE
    BEGIN
        SELECT 'Category already exists for this game' AS Result;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddGame]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- SP2: Thêm game mới (ĐÃ SỬA - CHỈ CÁC CỘT CÓ THẬT)
-- ============================================
CREATE   PROCEDURE [dbo].[sp_AddGame]
    @Title NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @DeveloperID INT,
    @PublisherID INT,
    @BasePrice DECIMAL(18,2),
    @ReleaseDate DATE = NULL,
    @AgeRating NVARCHAR(10) = NULL,
    @SystemRequirements NVARCHAR(MAX) = NULL,
    @SupportedLanguages NVARCHAR(500) = NULL,
    @WebsiteURL NVARCHAR(500) = NULL,
    @MainCoverImageURL NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- CHỈ INSERT các cột có trong bảng GAMES
    INSERT INTO GAMES (
        Title, 
        Description, 
        DeveloperID, 
        PublisherID, 
        BasePrice,
        FinalPrice, -- Cần tính
        ReleaseDate, 
        AgeRating, 
        SystemRequirements, 
        SupportedLanguages,
        WebsiteURL, 
        MainCoverImageURL
    )
    VALUES (
        @Title, 
        @Description, 
        @DeveloperID, 
        @PublisherID, 
        @BasePrice,
        @BasePrice, -- FinalPrice = BasePrice (chưa có discount)
        @ReleaseDate, 
        @AgeRating, 
        @SystemRequirements, 
        @SupportedLanguages,
        @WebsiteURL, 
        @MainCoverImageURL
    );
    
    SELECT SCOPE_IDENTITY() AS NewGameID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddGameToLibrary]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AddGameToLibrary]
    @UserID INT,
    @GameID INT,
    @PurchasePrice DECIMAL(18,2),
    @OrderID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra xem game đã tồn tại trong thư viện của User chưa
    IF EXISTS (SELECT 1 FROM USERLIBRARIES WHERE UserID = @UserID AND GameID = @GameID)
    BEGIN
        -- Nếu đã tồn tại, không làm gì cả hoặc trả về mã lỗi (tùy chọn)
        PRINT 'Game already exists in library.';
        RETURN;
    END

    -- Nếu chưa có thì mới tiến hành INSERT
    INSERT INTO USERLIBRARIES (UserID, GameID, PurchaseDate, PurchasePrice, OrderID, IsFavorite)
    VALUES (@UserID, @GameID, GETDATE(), @PurchasePrice, @OrderID, 0);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddGameToOrder]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- SP4: Thêm game vào đơn hàng
-- ============================================
CREATE   PROCEDURE [dbo].[sp_AddGameToOrder]
    @OrderID INT,
    @GameID INT,
    @Quantity INT = 1
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @UnitPrice DECIMAL(18,2);
    DECLARE @FinalPrice DECIMAL(18,2);
    
    -- Lấy giá game
    SELECT @UnitPrice = FinalPrice FROM GAMES WHERE GameID = @GameID;
    
    IF @UnitPrice IS NULL
    BEGIN
        RAISERROR('Game not found or price not set', 16, 1);
        RETURN;
    END
    
    SET @FinalPrice = @UnitPrice * @Quantity;
    
    -- Thêm vào chi tiết đơn hàng
    INSERT INTO ORDERDETAILS (OrderID, GameID, Quantity, UnitPrice, FinalPrice)
    VALUES (@OrderID, @GameID, @Quantity, @UnitPrice, @FinalPrice);
    
    SELECT SCOPE_IDENTITY() AS NewOrderDetailID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddUser]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Sử dụng CREATE OR ALTER để đảm bảo ghi đè đúng bản của bạn
CREATE   PROCEDURE [dbo].[sp_AddUser]
    @Username NVARCHAR(50),
    @Email NVARCHAR(100),
    @PasswordHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Kiểm tra trùng trước khi chèn để tránh lỗi báo "Already exists" nhầm
    IF EXISTS (SELECT 1 FROM USERS WHERE Username = @Username)
    BEGIN
        RAISERROR('Username đã tồn tại!', 16, 1);
        RETURN;
    END

    INSERT INTO USERS (Username, Email, PasswordHash, CreatedDate, IsActive)
    VALUES (@Username, @Email, @PasswordHash, GETDATE(), 1);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckGameOwnership]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. KIỂM TRA SỞ HỮU: Để hiện thông báo "Đã sở hữu" đúng cho từng người
CREATE   PROCEDURE [dbo].[sp_CheckGameOwnership]
    @UserID INT,
    @GameID INT
AS
BEGIN
    SET NOCOUNT ON;
    -- Kiểm tra xem cặp {Người dùng này + Game này} đã tồn tại chưa
    IF EXISTS (SELECT 1 FROM USERLIBRARIES WHERE UserID = @UserID AND GameID = @GameID)
        SELECT 1 AS IsOwned;
    ELSE
        SELECT 0 AS IsOwned;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckLogin]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CheckLogin]
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    -- Kiểm tra xem có User nào khớp cả Username và Password không
    IF EXISTS (SELECT 1 FROM USERS WHERE Username = @Username AND PasswordHash = @PasswordHash AND IsActive = 1)
        SELECT 1 AS Result;
    ELSE
        SELECT 0 AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateOrder]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Sửa lại sp_CreateOrder để tự sinh mã đơn hàng (tránh lỗi NULL)
CREATE   PROCEDURE [dbo].[sp_CreateOrder]
    @UserID INT,
    @PaymentMethod NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @NewOrderNumber NVARCHAR(50) = 'ORD' + FORMAT(GETDATE(), 'yyyyMMddHHmmss');
    INSERT INTO ORDERS (OrderNumber, UserID, OrderDate, TotalAmount, FinalAmount, PaymentMethod)
    VALUES (@NewOrderNumber, @UserID, GETDATE(), 0, 0, @PaymentMethod);
    SELECT SCOPE_IDENTITY() AS NewOrderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllGamesForDisplay]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. HIỂN THỊ STORE: Hiện tất cả game (Bỏ phần lọc NOT IN cũ của bạn)
CREATE   PROCEDURE [dbo].[sp_GetAllGamesForDisplay]
    @UserID INT = NULL -- Tham số này giữ lại để không lỗi code C#, nhưng không dùng lọc nữa
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        g.GameID, g.Title, g.BasePrice, g.FinalPrice, g.MainCoverImageURL, d.DeveloperName,
        ISNULL(STRING_AGG(c.CategoryName, ', '), 'Uncategorized') AS Categories
    FROM GAMES g
    LEFT JOIN DEVELOPERS d ON g.DeveloperID = d.DeveloperID
    LEFT JOIN GAMECATEGORIES gc ON g.GameID = gc.GameID
    LEFT JOIN CATEGORIES c ON gc.CategoryID = c.CategoryID
    -- KHÔNG DÙNG WHERE lọc GameID nữa để Store luôn hiện đầy đủ
    GROUP BY g.GameID, g.Title, g.BasePrice, g.FinalPrice, g.MainCoverImageURL, d.DeveloperName
    ORDER BY g.GameID DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGameDetails]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- SP11: Lấy thông tin chi tiết game (ĐƠN GIẢN HÓA)
-- ============================================
CREATE   PROCEDURE [dbo].[sp_GetGameDetails]
    @GameID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        g.GameID,
        g.Title,
        g.Description,
        g.BasePrice,
        g.FinalPrice,
        g.ReleaseDate,
        g.AgeRating,
        g.SystemRequirements,
        g.SupportedLanguages,
        g.WebsiteURL,
        g.MainCoverImageURL,
        d.DeveloperName,
        d.Description AS DeveloperDescription,
        d.LogoURL AS DeveloperLogo,
        d.WebsiteURL AS DeveloperWebsite,
        p.PublisherName,
        p.Description AS PublisherDescription,
        p.LogoURL AS PublisherLogo,
        p.WebsiteURL AS PublisherWebsite
    FROM GAMES g
    LEFT JOIN DEVELOPERS d ON g.DeveloperID = d.DeveloperID
    LEFT JOIN PUBLISHERS p ON g.PublisherID = p.PublisherID
    WHERE g.GameID = @GameID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGamesByCategory]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- SP12: Lấy game theo thể loại
-- ============================================
CREATE   PROCEDURE [dbo].[sp_GetGamesByCategory]
    @CategoryID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        g.GameID,
        g.Title,
        g.FinalPrice,
        g.MainCoverImageURL,
        g.ReleaseDate,
        g.AgeRating,
        d.DeveloperName,
        p.PublisherName
    FROM GAMES g
    JOIN GAMECATEGORIES gc ON g.GameID = gc.GameID
    LEFT JOIN DEVELOPERS d ON g.DeveloperID = d.DeveloperID
    LEFT JOIN PUBLISHERS p ON g.PublisherID = p.PublisherID
    WHERE gc.CategoryID = @CategoryID
    ORDER BY g.Title;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGamesEnglishDisplay]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetGamesEnglishDisplay]
AS
BEGIN
    SET NOCOUNT ON;

    -- CTE để đảm bảo chúng ta chỉ lấy mỗi tựa game 1 lần duy nhất dựa trên Title
    WITH UniqueTitles AS (
        SELECT 
            Title, 
            MIN(GameID) as PrimaryID
        FROM GAMES
        GROUP BY Title
    )
    SELECT 
        G.GameID,
        G.Title,
        G.BasePrice,
        G.MainCoverImageURL,
        D.DeveloperName,
        -- Gộp các thể loại (nay đã là tiếng Anh) thành một chuỗi duy nhất
        ISNULL(STRING_AGG(C.CategoryName, ', '), 'Uncategorized') AS Categories
    FROM UniqueTitles UT
    JOIN GAMES G ON UT.PrimaryID = G.GameID
    LEFT JOIN DEVELOPERS D ON G.DeveloperID = D.DeveloperID
    LEFT JOIN GAMECATEGORIES GC ON G.GameID = GC.GameID
    LEFT JOIN CATEGORIES C ON GC.CategoryID = C.CategoryID
    GROUP BY 
        G.GameID, G.Title, G.BasePrice, G.MainCoverImageURL, D.DeveloperName
    ORDER BY G.BasePrice DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGamesFinalDisplay]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetGamesFinalDisplay]
AS
BEGIN
    SET NOCOUNT ON;

    -- Sử dụng Common Table Expression (CTE) để lọc trùng tên game trước
    WITH UniqueGames AS (
        SELECT 
            Title,
            MIN(GameID) as FirstID -- Chỉ lấy ID đầu tiên tìm thấy của mỗi tên game
        FROM GAMES
        GROUP BY Title
    )
    SELECT 
        G.GameID,
        G.Title,
        G.Description,
        G.BasePrice,
        G.MainCoverImageURL,
        D.DeveloperName,
        P.PublisherName,
        -- Gộp các thể loại thành 1 chuỗi để không làm tăng số dòng
        ISNULL(STRING_AGG(C.CategoryName, ', '), 'No Category') AS Categories
    FROM UniqueGames UG
    JOIN GAMES G ON UG.FirstID = G.GameID -- Join ngược lại để lấy thông tin chi tiết của ID đó
    LEFT JOIN DEVELOPERS D ON G.DeveloperID = D.DeveloperID
    LEFT JOIN PUBLISHERS P ON G.PublisherID = P.PublisherID
    LEFT JOIN GAMECATEGORIES GC ON G.GameID = GC.GameID
    LEFT JOIN CATEGORIES C ON GC.CategoryID = C.CategoryID
    GROUP BY 
        G.GameID, G.Title, G.Description, G.BasePrice, 
        G.MainCoverImageURL, D.DeveloperName, P.PublisherName
    ORDER BY G.Title ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetGamesUniqueDisplay]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetGamesUniqueDisplay]
AS
BEGIN
    -- Sử dụng GROUP BY để đảm bảo mỗi GameID chỉ xuất hiện 1 dòng duy nhất
    SELECT 
        G.GameID,
        G.Title,
        G.Description,
        G.BasePrice,
        G.MainCoverImageURL,
        D.DeveloperName,
        P.PublisherName,
        -- Gộp tất cả các thể loại thành một chuỗi duy nhất, ngăn cách bởi dấu phẩy
        ISNULL(STRING_AGG(C.CategoryName, ', '), 'No Category') AS CategoryList
    FROM GAMES G
    LEFT JOIN DEVELOPERS D ON G.DeveloperID = D.DeveloperID 
    LEFT JOIN PUBLISHERS P ON G.PublisherID = P.PublisherID 
    LEFT JOIN GAMECATEGORIES GC ON G.GameID = GC.GameID 
    LEFT JOIN CATEGORIES C ON GC.CategoryID = C.CategoryID 
    GROUP BY 
        G.GameID, 
        G.Title, 
        G.Description, 
        G.BasePrice, 
        G.MainCoverImageURL, 
        D.DeveloperName, 
        P.PublisherName
    ORDER BY G.Title ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLastPlayedGame]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Lấy game có ngày chơi (LastPlayed) mới nhất của User
CREATE   PROCEDURE [dbo].[sp_GetLastPlayedGame]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 1 
        g.Title, 
        g.MainCoverImageURL
    FROM USERLIBRARIES ul
    JOIN GAMES g ON ul.GameID = g.GameID
    WHERE ul.UserID = @UserID AND ul.LastPlayed IS NOT NULL
    ORDER BY ul.LastPlayed DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserLibrary]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Cập nhật sp_GetUserLibrary để sắp xếp theo LastPlayed trước, sau đó mới đến ngày mua
CREATE   PROCEDURE [dbo].[sp_GetUserLibrary]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        g.GameID, 
        g.Title, 
        g.MainCoverImageURL, 
        ul.PurchaseDate, 
        ul.PurchasePrice,
        ul.LastPlayed
    FROM USERLIBRARIES ul
    JOIN GAMES g ON ul.GameID = g.GameID
    WHERE ul.UserID = @UserID
    -- Ưu tiên game vừa chơi lên đầu, sau đó đến game mới mua
    ORDER BY ul.LastPlayed DESC, ul.PurchaseDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserOrderHistory]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- SP10: Lấy thống kê đơn hàng của người dùng
-- ============================================
CREATE   PROCEDURE [dbo].[sp_GetUserOrderHistory]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        o.OrderID,
        o.OrderNumber,
        o.OrderDate,
        o.FinalAmount,
        o.PaymentMethod,
        COUNT(od.GameID) AS TotalGames,
        STRING_AGG(g.Title, ', ') AS GameTitles
    FROM ORDERS o
    LEFT JOIN ORDERDETAILS od ON o.OrderID = od.OrderID
    LEFT JOIN GAMES g ON od.GameID = g.GameID
    WHERE o.UserID = @UserID
    GROUP BY o.OrderID, o.OrderNumber, o.OrderDate, o.FinalAmount, o.PaymentMethod
    ORDER BY o.OrderDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_PurchaseGame]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- SP5: Mua game và thêm vào thư viện
-- ============================================
CREATE   PROCEDURE [dbo].[sp_PurchaseGame]
    @UserID INT,
    @GameID INT,
    @PaymentMethod NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @OrderID INT;
    DECLARE @OrderNumber NVARCHAR(50);
    DECLARE @PurchasePrice DECIMAL(18,2);
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Lấy giá game
        SELECT @PurchasePrice = FinalPrice FROM GAMES WHERE GameID = @GameID;
        
        IF @PurchasePrice IS NULL
        BEGIN
            THROW 50001, 'Game not found', 1;
        END
        
        -- Tạo đơn hàng (trigger sẽ tự sinh OrderNumber)
        INSERT INTO ORDERS (UserID, PaymentMethod)
        VALUES (@UserID, @PaymentMethod);
        
        SET @OrderID = SCOPE_IDENTITY();
        
        -- Thêm game vào chi tiết đơn hàng
        INSERT INTO ORDERDETAILS (OrderID, GameID, Quantity, UnitPrice, FinalPrice)
        VALUES (@OrderID, @GameID, 1, @PurchasePrice, @PurchasePrice);
        
        -- Thêm game vào thư viện người dùng
        INSERT INTO USERLIBRARIES (UserID, GameID, PurchasePrice, OrderID)
        VALUES (@UserID, @GameID, @PurchasePrice, @OrderID);
        
        -- Lấy thông tin đơn hàng
        SELECT @OrderNumber = OrderNumber FROM ORDERS WHERE OrderID = @OrderID;
        
        COMMIT TRANSACTION;
        
        SELECT 
            @OrderID AS OrderID,
            @OrderNumber AS OrderNumber,
            @PurchasePrice AS PurchasePrice,
            GETDATE() AS PurchaseDate;
            
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterNewUser]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_RegisterNewUser] -- Đổi tên ở đây
    @Username NVARCHAR(50),
    @Email NVARCHAR(100),
    @PasswordHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Kiểm tra trùng lặp
    IF EXISTS (SELECT 1 FROM USERS WHERE Username = @Username)
    BEGIN
        RAISERROR('Username already exists', 16, 1);
        RETURN;
    END

    INSERT INTO USERS (Username, Email, PasswordHash, CreatedDate, IsActive)
    VALUES (@Username, @Email, @PasswordHash, GETDATE(), 1);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchGames]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. TÌM KIẾM/DASHBOARD: Hiện tất cả game theo yêu cầu mới
CREATE   PROCEDURE [dbo].[sp_SearchGames]
    @SearchTerm NVARCHAR(100) = NULL,
    @CategoryID INT = NULL,
    @MinPrice DECIMAL(18,2) = NULL,
    @MaxPrice DECIMAL(18,2) = NULL,
    @UserID INT = NULL,
    @DeveloperID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT DISTINCT
        g.GameID, g.Title, g.FinalPrice, g.MainCoverImageURL
    FROM GAMES g
    LEFT JOIN GAMECATEGORIES gc ON g.GameID = gc.GameID
    WHERE (@SearchTerm IS NULL OR g.Title LIKE '%' + @SearchTerm + '%')
        AND (@CategoryID IS NULL OR gc.CategoryID = @CategoryID)
        AND (@DeveloperID IS NULL OR g.DeveloperID = @DeveloperID)
        AND (@MinPrice IS NULL OR g.FinalPrice >= @MinPrice)
        AND (@MaxPrice IS NULL OR g.FinalPrice <= @MaxPrice)
        -- BỎ PHẦN LỌC NOT IN ĐỂ DASHBOARD HIỆN CẢ GAME ĐÃ MUA
    ORDER BY g.Title;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserProfile]    Script Date: 28/12/2025 7:28:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateUserProfile]
    @UserID INT,
    @Email NVARCHAR(100) = NULL,
    @AvatarURL NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE USERS
    SET 
        Email = ISNULL(@Email, Email),
        AvatarURL = ISNULL(@AvatarURL, AvatarURL)
    WHERE UserID = @UserID;
END;
GO
USE [master]
GO
